{
  "client_id": "your client id",
  "client_secret": "your client secret",
  "access_token": "your access_token",
  "group_id": "your group id",
  "picture_uri": "http://dl.dropbox.com/u/3622136/okinawarb.jpg",
  "name": "第%s回 Okinawa.rb Meetup!",
  "times": 6,
  "start_time": "2012-03-22 11:00:00 +0900",
  "location": "ギークハウス沖縄(那覇市古波蔵2-18-14)",
  "description": "毎週平日の夜に集まって沖縄のRubyistの皆様とハックしたりコミュニケーションが取れる場が欲しいです!\nなので、Okinawa.rbの毎週Meetupを始めました。\n\nだいたい19:00頃から始めます。途中入退場自由なので気軽にお越し下さい。\nはじめての方も大歓迎です。自己紹介したり、今後〜したい、〜やりたいとか、色々お話出来たらいいなぁと思います!\n参加して何をするか一言頂けると嬉しいです\n\n\n※プロジェクタや電源・無線等自由に使えます\n※会場のギークハウス沖縄には駐車場が無いので、できれば公共交通機関を利用してくださると嬉しいです。\n会場のギークハウス沖縄近くの駐車場情報\n・ギークハウス沖縄近くの沖縄銀行さんの駐車場(コインパーキング)\n\n\nOkinawa.rbの活動内容は以下のサイトでも随時アップデートしています。\nメーリングリストへの参加も宜しくお願いします。\nOkinawa.rb WebSite\nhttp://www.qwik.jp/okinawarb/\n\nOkinawa.rb Google Groups\nhttps://groups.google.com/group/okinawarb"
}
