# To get your access token
# https://developers.facebook.com/tools/explorer/
# To get 60 days access token
# https://graph.facebook.com/oauth/access_token?client_id=your_client_id&client_secret=your_client_secret&grant_type=fb_exchange_token&fb_exchange_token=your_access_token
access_token: your_access_token
picture_uri: https://dl.dropbox.com/u/3622136/okinawarb.jpg
group_id: 194735460599272
name: !ruby/regexp '/第(\d+)回 Okinawa.rb Meetup!/'
next_name: '"第#{$1.succ}回 Okinawa.rb Meetup!"'
location: ギークハウス沖縄(那覇市古波蔵2-18-14)
description: |
  毎週平日の夜に集まって沖縄のRubyistの皆様とハックしたりコミュニケーションが取れる場が欲しいです!
  なので、Okinawa.rbの毎週Meetupを始めました。

  だいたい19:00頃から始めます。途中入退場自由なので気軽にお越し下さい。
  はじめての方も大歓迎です。自己紹介したり、今後〜したい、〜やりたいとか、色々お話出来たらいいなぁと思います!
  参加して何をするか一言頂けると嬉しいです


  ※プロジェクタや電源・無線等自由に使えます
  ※会場のギークハウス沖縄には駐車場が無いので、できれば公共交通機関を利用してくださると嬉しいです。
  会場のギークハウス沖縄近くの駐車場情報
  ・ギークハウス沖縄近くの沖縄銀行さんの駐車場(コインパーキング)


  Okinawa.rbの活動内容は以下のサイトでも随時アップデートしています。
  メーリングリストへの参加も宜しくお願いします。
  Okinawa.rb WebSite
  http://www.qwik.jp/okinawarb/

  Okinawa.rb Google Groups
  https://groups.google.com/group/okinawarb
token_expire_notification: '@hanachin_ さん、Facebookのイベント立てるの失敗してますよ。'
twitter:
  consumer_key: your_twitter_consumer_key
  consumer_secret: your_twitter_consumer_secret
  oauth_token: your_twitter_oauth_token
  oauth_token_secret: your_twitter_oauth_token_secret
