{
  "access_token": "YOUR_ACCESS_TOKEN",
  "group_id": "YOUR_GROUP_ID",
  "picture_uri": "http://dl.dropbox.com/u/3622136/okinawarb.jpg",
  "name": "第%s回 Okinawa.rb Meetup!",
  "times": 65,
  "start_time": "2013-05-15 19:00:00 +0900",
  "location": "GeekHouse Okinawa (Kohagura 2-18-14, Naha-shi, Okinawa, Japan)",
  "description": "This is a weekly meetup hosted by Okinawa.rb and GeekHouse Okinawa, where people who like Ruby/Rails get together and casually share their information with snacks and drinks!\n\nThe meetup starts from about 7pm. Beginners are very welcome! If there is a new person, we'll introduce themselves each other and share what they'd like to do for the future.\n\nAlso, you can freely use wireless, power source, and a projector if you have something to share.\n\nNOTE: You can't park at GeekHouse Okinawa. If you come here by car, you need to park at somewhere around it, such as Ryukyu Bank and Man-ko Park.\n\nOkinawa.rb Website\nhttp://www.qwik.jp/okinawarb/"
}
